<?php
$conf['flash_base_url'] = 'http://<%= @app_settings['global_domain'] %>';
<% varnish_hosts = @varnish['hosts'].map {|ip| "http://#{ip}"} %>
$conf['purge_proxy_urls'] = '<%= varnish_hosts.join(" ")  %>';
