<?php

// data source
$db_url = "mysqli://<%= @db_user %>:<%= @db_pass %>@<%= @db_host %>/<%= @db_name %>";
$base_url = "http://<%= @siteurl %>";
// disable caching, preprocessing of css|js and compression.
$conf = array(
  'cache' => '0',
  'preprocess_css' => '1',
  'preprocess_js' => '1',
  'block_cache' => '0',
  'page_compression' => '0',
);
?>
