<VirtualHost *:<%= node['apache']['listen_ports'].first %>>
        ServerName <%= @server_name %>
        DocumentRoot <%= @web_root %>

        <Directory <%= @web_root %>>
                Options -Indexes FollowSymLinks
                AllowOverride All
                Order allow,deny
                allow from all
                Header add X-App node['fqdn']
        </Directory>

        <IFModule php5_module>
                 <% if node['common']['features']['newrelic'] == true -%>
                   php_flag newrelic.enabled on
                   php_value newrelic.appname "<%= @newrelic_name %>"
                 <% else -%>
                   php_flag newrelic.enabled off
                 <% end -%>
        </IFModule>

         #Logging Block
        <% accesslog = "#{node['apache']['log_dir']}/#{@appname}-access.log" %>
        <% errorlog = "#{node['apache']['log_dir']}/#{@appname}-error.log" %>
        CustomLog <%= accesslog %> combined
        ErrorLog <%= errorlog %>
</VirtualHost>
